In [61]:
import pandas as pd

In [62]:
# Load the Titanic dataset
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
titanic_data = pd.read_csv(url)

# Count the number of men and women
gender_count = titanic_data['Sex'].value_counts()

print("Number of men and women in the dataset:")
print(gender_count)

Number of men and women in the dataset:
Sex
male      577
female    314
Name: count, dtype: int64

In [63]:
# Most frequent age in the dataset
most_frequent_age = titanic_data['Age'].mode()[0]

print("Most frequent age in the dataset:")
print(most_frequent_age)

Most frequent age in the dataset:
24.0

In [64]:
# Most frequent age among women
most_frequent_age_women = titanic_data[titanic_data['Sex'] == 'female']['Age'].mode()[0]

print("Most frequent age among women:")
print(most_frequent_age_women)

Most frequent age among women:
24.0

In [65]:
# Most frequent age among men
most_frequent_age_men = titanic_data[titanic_data['Sex'] == 'male']['Age'].mode()[0]

print("Most frequent age among men:")
print(most_frequent_age_men)

Most frequent age among men:
19.0

In [66]:
# Most common fare price
most_common_fare = titanic_data['Fare'].mode()[0]

print("Most common fare price:")
print(most_common_fare)

Most common fare price:
8.05

In [67]:
# Most common fare price among men and women
most_common_fare_men = titanic_data[titanic_data['Sex'] == 'male']['Fare'].mode()[0]
most_common_fare_women = titanic_data[titanic_data['Sex'] == 'female']['Fare'].mode()[0]

print("Most common fare price among men:")
print(most_common_fare_men)
print("Most common fare price among women:")
print(most_common_fare_women)

Most common fare price among men:
8.05
Most common fare price among women:
7.75

In [68]:
# Defining age ranges
bins = [0, 18, 30, 40, 50, 60, 80]
labels = ['0-18', '19-30', '31-40', '41-50', '51-60', '61-80']
titanic_data['AgeGroup'] = pd.cut(titanic_data['Age'], bins=bins, labels=labels)

# Calculate average fare by age group and gender
average_fare_by_age_gender = titanic_data.groupby(['AgeGroup', 'Sex'])['Fare'].mean().unstack()

print("Average fare by age group and gender:")
print(average_fare_by_age_gender)

Average fare by age group and gender:
Sex          female       male
AgeGroup
0-18      36.765626  28.416023
19-30     40.002963  20.757659
31-40     62.090529  31.719164
41-50     56.868823  32.310911
51-60     69.522321  32.401043
61-80     55.848600  39.085311

<ipython-input-68-5681ad5fc8e9>:7: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  average_fare_by_age_gender = titanic_data.groupby(['AgeGroup', 'Sex'])['Fare'].mean().unstack()

# **Te quiero mucho, Zulito.**